* {
    box-sizing: border-box;
}

body {
    font-family: "Bree Serif", serif;
}

/* #14485b */

a {
    color: #17678a;
}

/* Common */
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
.header {
    background-color: #cacaca;
}

.header .inner {
    display: flex;
    height: 102px;
    align-items: center;
}

.logo-link {
    margin-right: auto;
}

.logo {
    height: 70px;
}

.header .nav {
    display: flex;
    gap: 20px;
    margin-right: 32px;
}

.header .nav a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
}

.header .nav a:hover {
    color: #17678a;
}
